/1st assignment/code/exercise12/XMLParser/target/
/1st assignment/code/exercise12/target/
/Project/exercise7/nbproject/private/
/Project/exercise7/build/
/Project/Exercise7-GUI/nbproject/private/
/Project/Exercise7-GUI/build/
